*{
    padding: 0;
    margin: 0;
}

#cabezera{
    background-color: #084866 ;
    color: white;
    
}

section h3{
  position: absolute;
  
}

section nav img{
    height: 30px;
    position: absolute;
    left: -28%;
}

.aviso{
    width: 80%;
    height: 80%;
    text-align: justify;
}